/*Elements*/
html {
font-size: 62.5%;
}
main, img{
	
}
header, section, footer, nav, section , main{
	display: block; 
}
body{
	margin: 0;
    padding: 1%;
	background-color: #badeff;
	font-size: 100%;
}
main{
	border: solid 2px;
	width: 57%;
	border-color: black;
	margin: auto;
	position: relative;	
}
nav{
	float: left;
}
a:link {
    color: #667899;
}
a:visited {
    color: #667899;
}
p{
	color:#7789aa;
	font-family: "PT Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif; 
}

/*Specific objects*/
#myImage{
	border: solid 2px;
	position: relative;
}

/*Classes*/
.leftBar, .rightBar{
	height: 500px;
	width: 10%;
	position: relative;
}
.leftBar{
	float:left;
}
.rightBar{
	float:right;
}
img.imgSideBar{
	margin: 0;
    padding: 0;
	width: 100%;
	padding-bottom: 15%;
}	
div.fb-like{
	padding: 5%;
	border: solid 1px grey;
	background-color: white;
}

div.subPage{
	border: solid 3px blue;
	background-color: white;
	position: absolute;
	top: 0px;
    left: 0px;
	z-index: -1;
}
div.svgHolder{
	position: relative;		/*This Div keep the size of the Image element*/
	background-color: white; /*Keeping a white background, to hide any DIV besides image.*/
	overflow: scroll;
}
p.labels{
	text-align: right;
	font-size: 1.2EM;
	padding-bottom: 10%;
}
p.pageNavigation{
	font-size: 2.5EM;
	word-spacing: 30px;
	text-align: center;
}
p.tutorial{
	text-align: center;
	font-size: 1.1EM;
}
p.quote_italic{
	text-align: right;
	font-size: 2.0EM;
	font-style: italic;
}
p.quote{
	text-align: right;
	font-size: 1.6EM;
}
p.about{
	text-align: left;
	font-size: 1.5EM;
}
p.about_title{
	text-align: left;
	font-size: 3.0EM;
	font-variant: small-caps;
}


