/*Elements*/
/* header, section, footer, aside, nav, main, img{ */
html {
font-size: 62.5%;
}
main, img{
	
}
header, section, footer, nav, section , main{
	display: block; 
}
body{
	margin: 0;
    padding: 1%;
	background-color: #badeff;
	font-size: 100%;
}
main{
	border: solid 2px;
	width: 57%;
	border-color: black;
	margin: auto;
	position: relative;	
}
nav{
	float: left;
}
a:link {
    color: #667899;
}
a:visited {
    color: #667899;
}

/*Classes*/
.leftBar, .rightBar{
	height: 500px;
	width: 10%;
	position: relative;
}
.leftBar{
	float:left;
}
.rightBar{
	float:right;
}
img.imgSideBar{
	margin: 0;
    padding: 0;
	width: 100%;
	padding-bottom: 15%;
}	
div.fb-like{
	padding: 5%;
	border: solid 1px grey;
	background-color: white;
}
p.labels{
	color:#7789aa;
	text-align: right;
	font-family: "PT Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size: 1.2EM;
	padding-bottom: 10%;
}
p.pageNavigation{
	color:#7789aa;
	font-family: "PT Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size: 2.5EM;
	word-spacing: 30px;
	text-align: center;
}
p.tutorial{
	color:#7789aa;
	text-align: center;
	font-family: "PT Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size: 1.1EM;
}



/*Specific objects*/
#myImage{
	border: solid 2px;
}
